In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data_yelp = pd.read_csv('C:/Users/User/Desktop/DS-Projects/NLP/yelp_labelled.txt', sep='\t',header=None)

In [4]:
data_yelp.head()

                                                   0  1
0                           Wow... Loved this place.  1
1                                 Crust is not good.  0
2          Not tasty and the texture was just nasty.  0
3  Stopped by during the late May bank holiday of...  1
4  The selection on the menu was great and so wer...  1

In [5]:
# Assign column names
columan_name = ['Review', 'Sentiment']
data_yelp.columns = columan_name

In [6]:
data_yelp.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [7]:
data_yelp.shape

(1000, 2)

In [8]:
data_amazon = pd.read_csv('C:/Users/User/Desktop/DS-Projects/NLP/amazon_cells_labelled.txt',sep='\t',header=None)
data_amazon.head()

                                                   0  1
0  So there is no way for me to plug it in here i...  0
1                        Good case, Excellent value.  1
2                             Great for the jawbone.  1
3  Tied to charger for conversations lasting more...  0
4                                  The mic is great.  1

In [9]:
data_amazon.columns = columan_name

In [10]:
data_amazon.head()

                                              Review  Sentiment
0  So there is no way for me to plug it in here i...          0
1                        Good case, Excellent value.          1
2                             Great for the jawbone.          1
3  Tied to charger for conversations lasting more...          0
4                                  The mic is great.          1

In [11]:
data_amazon.shape

(1000, 2)

In [13]:
data_imdb = pd.read_csv('C:/Users/User/Desktop/DS-Projects/NLP/imdb_labelled.txt',sep='\t',header=None)
data_imdb.head()

                                                   0  1
0  A very, very, very slow-moving, aimless movie ...  0
1  Not sure who was more lost - the flat characte...  0
2  Attempting artiness with black & white and cle...  0
3       Very little music or anything to speak of.    0
4  The best scene in the movie was when Gerardo i...  1

In [14]:
data_imdb.columns = columan_name

In [15]:
data_imdb.head()

                                              Review  Sentiment
0  A very, very, very slow-moving, aimless movie ...          0
1  Not sure who was more lost - the flat characte...          0
2  Attempting artiness with black & white and cle...          0
3       Very little music or anything to speak of.            0
4  The best scene in the movie was when Gerardo i...          1

In [16]:
data_imdb.shape

(748, 2)

In [17]:
data = data_yelp.append([data_amazon, data_imdb],ignore_index=True)

C:\Users\User\AppData\Local\Temp\ipykernel_26604\2635526589.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data_yelp.append([data_amazon, data_imdb],ignore_index=True)

In [18]:
data.shape

(2748, 2)

In [19]:
data['Sentiment'].value_counts()

1    1386
0    1362
Name: Sentiment, dtype: int64

In [20]:
# check for null values
data.isnull().sum()

Review       0
Sentiment    0
dtype: int64

In [21]:
x = data['Review']
y = data['Sentiment']

In [22]:
#Data Cleaning
# here we will remove stopwords, punctuations as well as we will apply lemmatization

import string
punct = string.punctuation

In [23]:
punct

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [24]:
from spacy.lang.en.stop_words import STOP_WORDS

In [26]:
# list of stopwords
stopwords = list(STOP_WORDS)

In [28]:
# creating a function for data cleaning
import spacy 

nlp = spacy.load('en_core_web_sm')

def text_data_cleaning(sentence):
  doc = nlp(sentence)

  tokens = [] # list of tokens
  for token in doc:
    if token.lemma_ != "-PRON-":
      temp = token.lemma_.lower().strip()
    else:
      temp = token.lower_
    tokens.append(temp)
  
  cleaned_tokens = []
  for token in tokens:
    if token not in stopwords and token not in punct:
      cleaned_tokens.append(token)
  return cleaned_tokens

# if root form of that word is not pronoun then it is going to convert that into lower form
# and if that word is a proper noun, then we are directly taking lower form, because there is no lemma for proper noun

In [29]:
text_data_cleaning("Hello all, It's a beautiful day outside there!")
# stopwords and punctuations removed

['hello', 'beautiful', 'day', 'outside']

In [32]:
#Vectorization Feature Engineering (TF-IDF)
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline

In [33]:
tfidf = TfidfVectorizer(tokenizer=text_data_cleaning)

In [36]:
#Splitting the dataset into the Train and Test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [37]:
#Fit the x_train and y_train
clf = Pipeline([('tfidf',tfidf), ('clf',classifier)])
# it will first do vectorization and then it will do classification

NameError: name 'classifier' is not defined